html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
.card-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.card-box h2 {
  margin: 0 0 50px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.card-box .user-box {
  position: relative;
}

.card-box .user-box input {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.card-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.card-box .user-box input:focus ~ label,
.card-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.card-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 4px;
}

.card-box a:hover {
  background: #00bdc7;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 15px #03e9f4,
    0 0 20px #03e9f4;
}

.card-box a span {
  position: absolute;
  display: block;
}

.card-box a {
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 10px 20px;
  color: #03e9f4;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.card-box .voltar {
  position: relative;
  display: table;
  margin: 0 auto;
}
.title1 {
  font-size: 30px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-top: 50px;
}
#choice {
  margin-top: 60px;
}
#romano,
#arabico {
  margin-top: 100px;
}
